[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
matplotlib = "*"
regex = "==2023.10.3"
plotly = "==5.24.0"
streamlit-aggrid = "==1.0.5"
statsbombpy = "==1.14.0"
mplsoccer = "==1.4.0"

[dev-packages]

[requires]
python_version = "3.12"
